


  <div class="left-section">
    <div class="card text-center shadow pt-4">
        <p>الاحداث القادمة</p>
        <h3><strong>الكساء</strong></h3>
        <p>يوم 20/7 <br> متبقي 3 ايام</p>
        <p><button class="btn btn-info my-2" style="width: 6rem;">تفاصيل</button></p>
    </div>
</div>