<div class="left-section">
    <div class="card user-details shadow">
        <h5 class="card-title mx-auto mt-3">Hamdy Youssef</h5>
        <img class="card-img-top mx-auto rounded-circle" style="width: 7rem; height: 7rem;"
            src="https://vignette.wikia.nocookie.net/fairlyoddparents/images/2/2c/New_Timmy_Stock.png/revision/latest/scale-to-width-down/340?cb=20200127001833&path-prefix=en"
            alt="Card image cap">
        <hr class="mx-auto" style="width:80%;">
        <div class="card-body">
            <p><i class="far fa-address-card mr-2"></i>Head of Follow-Up committee</p>
            <p><i class="fas fa-home mr-2"></i>Nasr City</p>
            <p><i class="fas fa-birthday-cake mr-2"></i> Dec 1, 1998</p>
        </div>
    </div>
    <div class="card left-nav shadow">
        <div class="list-group">
            <a href="/Tasks/taskList" class="list-group-item list-group-item-action list-group-item-secondary">
                <i class="fas fa-tasks mr-3 fa-lg"></i></i>Tasks</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-secondary disabled" tabindex="-1"
                aria-disabled="true">
                <i class="fas fa-tasks mr-3 fa-lg"></i></i>Given Tasks</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-secondary disabled" tabindex="-1"
                aria-disabled="true">
                <i class="far fa-calendar-check fa-lg mr-3"></i>Events
            </a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-secondary disabled" tabindex="-1"
                aria-disabled="true">
                <i class="far fa-calendar-check fa-lg mr-3"></i>Plan
            </a>
            <a href="statistics.html" class="list-group-item list-group-item-action list-group-item-secondary disabled"
                tabindex="-1" aria-disabled="true">
                <i class="fas fa-chart-bar fa-lg mr-3"></i>Statistics
            </a>
        </div>
    </div>
</div>