
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">FOP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell"></i> <span class="badge badge-primary">3</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">There is a new Event</a>
                                <a class="dropdown-item" href="#">Hamdy added a new task</a>
                                <a class="dropdown-item" href="#">There is a new Event</a>
                                <a class="dropdown-item" href="#">There is a new Event</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="login.html">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="signup.html">Sign up</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="/Tasks/addTask">Add task</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>