</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img
                    src="https://scontent.fcai20-1.fna.fbcdn.net/v/t1.0-9/99441001_2379037665532416_5236968355474178048_n.jpg?_nc_cat=111&_nc_sid=09cbfe&_nc_ohc=efj69EBJzEQAX_5jWNi&_nc_ht=scontent.fcai20-1.fna&oh=2b923e3269159d5919a04388db2b5f25&oe=5F3B63F3"
                    width="30" height="30" class="align-top rounded-circle ml-2" alt="" loading="lazy">نشاط الفرز</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
                <ul class="navbar-nav">
                    <%if(!currentUser){ %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">تسجيل الدخول</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">إنشاء حساب</a>
                    </li>
                    <% } else { %>
                    <!-- <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link disabled" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span class="badge badge-primary">3</span> <i class="fa fa-bell"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">There is a new Event</a>
                                <a class="dropdown-item" href="#">Hamdy added a new task</a>
                                <a class="dropdown-item" href="#">There is a new Event</a>
                                <a class="dropdown-item" href="#">There is a new Event</a>
                            </div>
                        </div>
                    </li> -->
                    <li class="nav-item active">
                        <a class="nav-link" href="/">الصفحة الرئيسية<span class="sr-only">(current)</span></a>
                    </li>
                    <!-- <li class="nav-item">
                            <a class="nav-link disabled" href="#">
                                <%= currentUser.username %>
                            </a>
                        </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">تسجيل الخروج</a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>