<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>


<div class="container-fluid mt-5">
    <div class="row">
        <!-- Left Section -->
        <div class="col-md-3">
            <%- include('./partials/left-nav.ejs') %>
        </div>
        <!-- End of the left section-->

        <!-- Middle Section-->
        <div class="col-md-7 mt-5 middle-section">
            <div class="card add-post shadow">
                <div class="container">
                    <form>
                        <div class="form-group mt-2">
                            <label for="textarea" class="my-3">Want to anonuce something?</label>
                            <textarea class="form-control" id="textarea" placeholder="Welcome to the Website"
                                disabled></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlFile1">Upload Photo</label>
                            <input type="file" class="form-control-file" style="width:14rem;"
                                id="exampleFormControlFile1" disabled>
                        </div>
                        <button type="submit" class="btn btn-primary w-25" disabled>Post</button>
                    </form>
                </div>
            </div>
            <div class="card post shadow">
                <div class="container">
                    <div class="row mt-4">
                        <div class="col-8 col-lg-10 d-inline-flex">
                            <img class="rounded-circle" style="width: 4rem; height: 4rem;"
                                src="https://i.pinimg.com/originals/6d/24/41/6d24412ef9de7816b7d2b1a29675e437.png">
                            <span class="ml-2">
                                <h3 class="mb-0">Habiba Alaa</h3>
                                <small>Sub-Head of Follow-Up committee, Nasr City</small>
                            </span>
                        </div>
                        <div class="col-4 col-lg-2">
                            <p class="mt-3 ml-4">10 min</p>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                ูุชุจูู ูู ุงูุฒูู 10 ุฃูุงู ุนูู ุงูุถู ุดูุฑ ูู
                                ุงูุณูุฉ โค
                                <br>
                                ุงููุฏ ูููุง ูุฑุญุงููู ุงู ุฑูุถุงู ูุฑุจ ุฎูุงุต ...ุจุณ ุจูุฌู ูู ุจุงููุง ูู ููุช ููุชุงูู ุงูู ูุด ููุจูู
                                ุฒู ูู ุณูุฉ ูููุด ุชุฑุงููุญ ุ ูููุด ููุงู ููู ูู ุงููุณุงุฌุฏุ ูููุด ุงู ุชุฌูุนุงุช :")
                                <br>
                                ุจุณ ุงุณุชูู ....ูู ุงุญูุง ููู ูููุฑ ูู ูุฏู ุงุตูุง
                                ุชุฑุงููุญ ุฌูุน ุฃูู ุจูุชู ู ุตูู ูู ููู ููุงู ููู ุฌูุน ุงููู ู ุตุญู ุตุญุงุจู ู ุณุงุนุฏูุง ุจุนุถ ุนูู
                                ุงูุทุงุนุงุช ุงุฎุชููุง ุงููุฑุขู ุฒู ูู ุณูุฉ ุฏูุฑ ุนูู ุทุฑู ุชุงููุฉ ููุซูุงุจ ู ุฃุณุนู ูููุง โค
                                <br>
                                ุงุฑุฌุน ุงูุชูุฑ ูู ุงุตูุง ููู ุฑุจูุง ูุฑุถ ุนูููุง ุงูุตูุงู
                                { ููุง ุฃููููููุง ุงูููุฐูููู ุขูููููุง ููุชูุจู ุนููููููููู ุงูุตููููุงูู ููููุง ููุชูุจู ุนูููู
                                ุงูููุฐูููู ููู ููุจููููููู ููุนูููููููู ุชูุชููููููู}
                                ุงูุชููู โค
                                <br>
                                ุฃุณุนู ุงูู ุชุทูุน ูู ุงูุดูุฑ ุฏู ุจุฃูุจุฑ ููุณุจ ูููู ุุงุญูุง ุงูุฏููุง ุจููุบูุณ ูููุง ูุชูุฑ ู ุงุญูุง ูุด
                                ูุงุฎุฏูู ุจุงููุง ู ุฏู ูุฑุตุฉ ูู ูุฑุต ุฑุจูุง ููุงุฒู ููุถูุนูุงุด ๐
                                <br>
                                ุดุฏูุง ุงูุนุฒุงุฆู ูุงูููู ู ุฎููู ูู ุงุญุณู ุงูุฑูุถุงูุงุช ุงููู ุนุฏุช ุนูููุง ูู ุญูุงุชูุง โค
                                <br>
                                ู ุงูููุฑููุง ูุบูุฑู ุฃูุฏุงุฑ ุงููู ูุด ูุชุฒูู ุงูุง ููุง ูุฑุถู ุจููุง ู ูุชููููุด ุงู ุฏุง ุบุถุจ ูู ุฑุจูุง ู
                                ุงู ุฏุง ุญุงุฌุฉ ูุญุดุฉ ูุง ุงุณุชูุจููุง ุงูุฃูุฏุงุฑ ุจูููุจ ุฑุงุถูุฉ โค
                                ุงูููู ุงูุดู ุนูุง ุงูุจูุงุก ูุงุฒุญ ุงูุบูุฉ ูุฑุฏูุง ุฅููู ุฑุฏุงู ุฌูููุงู ูุงุฑุจ ุงูุนุงูููู ู ุจูุบูุง ุฑูุถุงู
                                ูุง ูุงูุฏูู ู ูุง ููููุฏูู โค
                            </p>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12">
                            <img class="img-fluid"
                                src="https://scontent.fcai20-2.fna.fbcdn.net/v/t1.0-9/92699040_2702924796480629_5332808270056783872_n.jpg?_nc_cat=111&_nc_sid=ca434c&_nc_ohc=fHqRaXYPYM8AX9Gehes&_nc_ht=scontent.fcai20-2.fna&oh=b846e645fbda39750b872060ed12e25e&oe=5F30C27B">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-12 ">
                            <button class="btn btn-secondary"><span><i
                                        class="far fa-heart mr-2"></i></span>Like</button>
                            <button class="btn btn-secondary"><i class="far fa-comment mr-2"></i>Comment</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card post shadow">
                <div class="container">
                    <div class="row mt-4">
                        <div class="col-8 col-lg-10 d-inline-flex">
                            <img class="rounded-circle" style="width: 4rem; height: 4rem;"
                                src="https://vignette.wikia.nocookie.net/fairlyoddparents/images/3/3d/Goldie_Goldenglow_stock_image.png.png/revision/latest/scale-to-width-down/340?cb=20200223032511&path-prefix=en">
                            <span class="ml-2">
                                <h3 class="mb-0">Salma Wael</h3>
                                <small>Volunteer at Follow-Up committee, Nasr City</small>
                            </span>
                        </div>
                        <div class="col-4 col-lg-2">
                            <p class="mt-3 ml-4">6 hr</p>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                ุจุฃูุชูุง ุนุงุฑููู ุฃูููุฉ ุงููููุฉ ุงูุทูุจุฉ ู ุฃุฌุฑูุง ุนูุฏ ุฑุจูุง ุฅููุ๐ค
                                ุทุจ ุนุงุฑููู ุฅู ุฑุจูุง ุณุจุญุงูู ูุชุนุงูู ุฑุจุท ุดูุฑู ุจุดูุฑ ุงููุงุณ! ๐ฒ
                                ููู ุญุฏูุซ ููุฑุณูู ุตูู ุงููู ุนููู ูุณูู ุจูููู:
                                (ูู ูู ูุดูุฑ ุงููุงุณ ูู ูุดูุฑ ุงููู )
                                ู ุฏุง ุนุดุงู ุนุทุงุก ุฑุจูุง ู ููุนู ูููุง ุจููุตููุง ุนู ุทุฑูู ุนุจุงุฏู ู ูู ุฅูุช ูุดูุฑุชุด ุงููุงุณ ุฏู ูุฃูู
                                ููุงุญุธุชุด ุนุทุงุก ุฑุจูุง ููู! ๐คท๐ปโโ๏ธ
                                <br>
                                ู ุนุดุงู ูุญุฏุด ูููุง ูุญุจ ูููู ูู ุงููุงุณ ุฏูุ ุฏูุฑ ูู ูุงุญุฏ ูููุง ููุง ุฅููุง ูุดูุฑ ุงููุงุณ ุงููู
                                ุจุชุณุงุนุฏ ู ุงููุงุณ ุงููู ุจุชูุฏ ุฅูุฏูุง ูุบูุฑูุง ุฏูุฑูุง ูุดูุฑูู ู ููุดุฑ ูู ูููุจูู ุงูุฅูุฌุงุจูุฉ ู
                                ุงูุจูุฌุฉ ู ูุญูุณูู ุฅููู ูุฒูุฏูุง ูู ุงูุฎูุฑ ุฏุง ู ูุนุฑููู ุฅููู ุจูุนูููุง ุญุงุฌุฉ ุญููุฉ ุฃูู ู ุฃุฌุฑูุง
                                ุนุธูู โค๏ธ
                                <br>
                                ู ูุญุชุงุฌูู ูููุง ูุฏุฎู ุนูู ุงูููููุงุช ุงููู ูู ุงูููููุช ุชุญุช๐๐ผ ู ููุดุฑ ูููุง ุงูุทุงูุฉ
                                ุงูุฅูุฌุงุจูุฉ ู ูุบูุจ ุงููุงุณ ุงูุณูุจูุฉ ูููุง๐โโ๏ธ
                                <br>
                                ุฃู ุญุฏ ูููุชุญ ูููููู ูุนุฑูููุ ู ูุงุฑูุช ูููุง ูุฑุฏ ๐
                                ูุง ููู ูุงู ูุนุงูุง ๐ช๐ป

                            </p>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-12 ">
                            <button class="btn btn-secondary"><span><i
                                        class="far fa-heart mr-2"></i></span>Like</button>
                            <button class="btn btn-secondary"><i class="far fa-comment mr-2"></i>Comment</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card post shadow">
                <div class="container">
                    <div class="row mt-4">
                        <div class="col-8 col-lg-10 d-inline-flex">
                            <a href="#"><img class="rounded-circle" style="width: 4rem; height: 4rem;"
                                    src="https://vignette.wikia.nocookie.net/fairlyoddparents/images/d/d5/WandaFOP.png/revision/latest/scale-to-width-down/340?cb=20191007021646&path-prefix=en">
                            </a>
                            <span class="ml-2">
                                <h3 class="mb-0">Nada AbdElRahman </h3>
                                <small class="float-right">Technical director of the Follow-Up committee,
                                    October</small>
                            </span>
                        </div>
                        <div class="col-4 col-lg-2">
                            <p class="mt-3 ml-4">2 day</p>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                ุชู ุจ ุญูุฏุงููู ุนูู ุชุฏุฑูุจ ูุดูุท ุงููุณุชูู ุงูุงูู ููุฏูุนู ุงูุงููู โฆโค๏ธโฉ๐
                                ุจุญุถูุฑ ูจูฅ ูุชุทูุน ูุดูุท
                                ุงูููู ูุงู ุฑุงุงุฆุน ุฌุฏุงุง ู ูู ุงูุฌุญ ุงูุงูุงู ุงููู ุนูููุงูุง ู ูุฌูู ูุชุงุจุนู ู ุงููุชุทูุนูู ุฎุงุฑุฌูู
                                ูุจุณูุทูู ู ูุชุญูุณูู ููุชุฏุฑูุจ ุงููู ุฌุงู
                                ุดูุฑุงุงุง ุฌุฏุงุงุง ููุฏุงุช ุงููุชุงุจุนู ุงูุฌุจุงุฑูู ุฌุฏุงุงุง ุฑุจูุง ููุฑููู ูุง ุฑุจ ู ุงูููู ุนูุฑู ูุง ูุงู
                                ูููุฌุญ
                                ูููุงูู ู ุฒู ูุง ุฌูุฏู ู ูุงูุจ ุงูุจุงุฑุญ ูุงู ุงููู ุนููุงู ูุงุฆูู ูุจูุฑู ูู ุงูุฅูุฌุงุฒุงุช ู ูุนู ุงู
                                ูจูฅ
                                ูุชุทูุน ุฏูู ููููู ุงูุตุฏูู ุงูุฌุงุฑูู ูููุง ูุง ุฑุจ ุงู ุดุงุก ุงููู โฆโค๏ธโฉ
                                #ุงุฏุงุฑู_ุชุทูุน_ูุดุงุท_ุงููุฑุฒ ๐โฆโค๏ธโฉ
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <img class="img-fluid"
                                src="https://scontent.fcai20-2.fna.fbcdn.net/v/t1.0-9/87146945_2833505540063765_5556233997803061248_n.jpg?_nc_cat=108&_nc_sid=b9115d&_nc_ohc=guM85YAcCRAAX-Nc7bQ&_nc_ht=scontent.fcai20-2.fna&oh=2bb8e19fba2357b8d647938ad9d4cfbc&oe=5F2D90F8">
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-6">
                            <img class="img-fluid"
                                src="https://scontent.fcai20-2.fna.fbcdn.net/v/t1.0-9/87155294_2833505583397094_6100260746224992256_n.jpg?_nc_cat=100&_nc_sid=b9115d&_nc_ohc=CpYxMXvnSrwAX-X7gIl&_nc_ht=scontent.fcai20-2.fna&oh=c30faac2760061a33ac2b17f98bddcb7&oe=5F2FDB0A">
                        </div>
                        <div class="col-6">
                            <img class="img-fluid"
                                src="https://scontent.fcai20-2.fna.fbcdn.net/v/t1.0-9/87175399_2833505646730421_1695960565169520640_n.jpg?_nc_cat=105&_nc_sid=b9115d&_nc_ohc=-9RAvF0m1hIAX_sL835&_nc_ht=scontent.fcai20-2.fna&oh=ac6d2f33f51a44172f77884341fbc54a&oe=5F2FE437">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-12 ">
                            <button class="btn btn-secondary"><i class="far fa-heart mr-2"></i>Like</button>
                            <button class="btn btn-secondary"><i class="far fa-comment mr-2"></i>Comment</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card post shadow">
                <div class="container">
                    <div class="row mt-4">
                        <div class="col-8 col-lg-10 d-inline-flex">
                            <img class="rounded-circle" style="width: 4rem; height: 4rem;"
                                src="https://nick-intl.mtvnimages.com/uri/mgid:file:gsp:kids-assets:/nick/properties/fairly-oddparents/characters/cosmo-character-web-desktop.png?height=0&width=480&matte=true&crop=false">
                            <span class="ml-2">
                                <h3 class="mb-0">Mohamed AbdElHares</h3>
                                <small> Volunteer Activity Manager, Mohandseen</small>
                            </span>
                        </div>
                        <div class="col-4 col-lg-2">
                            <p class="mt-3 ml-4">1 week</p>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                ุจุณู ุงููู โฆโ๏ธโฉ๐
                                ูู ูุจุฏุฃ ุงู ุงุญูุง ุจูุญุงูู ูุทูู ู ุงูููุงู ู ุงูุทุจูุนู ุงู ูุนุฑุถ ุดุบููุง ู ุจุนุถ ุนูุดุงู ูุชุนูู ูู
                                ุงููุงุฑ ุจุนุถ ...ู ูู ูุจูุง ุนูุฏูุง ุงูููุชุงุช ุงู ุญุงุฌุงุช ุงุดุชุบููุง ุนูููุง ููุจุฏุฃ ููุฒู ุจูุณุช
                                ุจุชูุงุตูููุง โฆ๐คธ๐ปโโ๏ธ
                                ูุญุงูู ุงุฏุฎููู ู ุงุงููููุณ ุดููู
                                <br>
                                ุงูุชูุฌ ูุดูุท:
                                ูุจุฏุฃูุง ูุงู ุนูุฏูุง ูุญุงููุงุช ูุดูู ูู ุงูู ุดูุฑ ูค ูุญุฏ ุดูุฑ ูง ู ุงูุชุฑ ูู ููุงู ุงู ุงูุชุฑ ูู ููุฑู
                                ... ูุงู ุงุณูู ุญุงุฌู ุจูุทูุจ ุงูุณููู ู ูุนุงูุง ุงููููุณ ุจุณ ูุด ูุนุฑููู ูุธุจุท ุงูุฏููุง ๐ *ูุชุนูููุด
                                ุงูุชูุฌ ูุน ูุฑูู ุงูุนูู ูุง ุดุจุงุจ* ๐โฆโ๏ธโฉ
                                ุจุณ ุงูุญูุฏ ููู ุงููุฑู ุฏูู ุงููุตููุง ...ุจูุง ููู ุญุฏ ุฏูุงุบู ู ุงูููู ููู Ahmmed R. Reefaat
                                โฆโค๏ธโฉ๐ฅ
                                ู ูุงู ูุนุงูุง ู ุชูุธูู ุงูููู Manar Tarek ๐ฅโฆโ๏ธโฉ
                                ุงูููุฑู ุงูุงูู ุงู ุงุญูุง ูุฑูุญ ูุทุนู ูุงูู ู ููุดู ูุฃููุง ุนุฒููู
                                ููููุง ุงูููุถูุน ููู ุดููู ู ูุด ุงูุชูุฌ ู ูุฑููุง ู ููุงู ูุฑูุญูุง ู ููุนุจ ุดููู ู ุฏูุฑูุง ุนูู
                                ุงูููุงู ู ูุฏู
                                <br>
                                ุงูููู ูุงู ...ูค ุณุงุนุงุช ุชูุฑูุจุง ุจุฏุฃูุง ุจ ุดููู ุงูุนุงุจ ุฎูููู ูุณุฑูุง ุงูุญุงุฌุฒ ุงููู ุจูู ุงููุชุทูุนูู
                                ุจุฏุฃูุง ููุณู ูุฌููุนุงุช ู ููุนุจ ุงููุงู ๐โฆโค๏ธโฉ
                                ุงูุงูู ุฌููุง ุฏูููุฑู ....ูููุง ู ูุฏู ู ุจุนุฏ ูุฏู ูุงู ููู ุดููู ูุนุจ ุญุฑ ุจูุง ุณุจูุง ุงููุชุทูุนูู
                                ููุชุดุฑูุง ุจุฑุญุชูู ุจุนุฏ ูุฏู ุฌุจูุง ุชูุฑุชุฉ ุงูุณ ูุฑูู ู ุนูููุง ุนูุฏ ูููุงุฏ ูุชุทูุนู ....ูุนูู ุจุนุฏ ูุฏู
                                ุดููู ุญุงุฌุงุช ู ุฎูุตูุง. ๐คธ๐ปโโ๏ธโฉ
                                ุงูุนุฏุฏ:5 ูุฑูู 2 ุชุฑููุงุช 18 ูุดูุท
                                ุชูููู ุงูููู ูููุฑุฏ:
                                -ูขูฅ ุญุฌุฒ ููุงู
                                - ุงูุงูู ูุงู ููู ุณูุฌู ุจ ูฅูฃ ู ุงูุฏุจู ุจ ูงูฃ
                                ......ุดููู ุญุงุฌุงุช ุจูุง ุงูุชูุฑุชู ุจ ูฃูู ู ุจูุจุณ ู ุญุงุฌุงุช ูุฏู ๐ค
                                ููู ุตูุฑ ููููุงู ู ุงูููููุชุงุช
                            </p>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-12 ">
                            <button class="btn btn-secondary"><span style="color: tomato;"><i
                                        class="fas fa-heart mr-2"></i></span>Like</button>
                            <button class="btn btn-secondary"><i class="far fa-comment mr-2"></i>Comment</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of the middle section-->

        <!-- Right Section -->
        <div class="col-md-2">
            <div class="right-section">
                <div class="card text-center shadow pt-4">
                    <p>Upcoming Events:</p>
                    <h3><strong>ูุณุงุก</strong></h3>
                    <p>ููู 20/7 <br> 3 days left</p>
                    <p><button class="btn btn-info my-2" style="width: 6rem;">Info</button></p>
                </div>
            </div>
        </div>
        <!-- End of the right section -->
    </div>

</div>

<%- include('./partials/footer.ejs') %>