<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-6 mt-5 ">
        <form action="/register" method="POST">
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationServer01">First name</label>
              <input type="text" class="form-control" name="firstname" id="validationServer01" placeholder="First name" required>
            </div>
            <div class="col-md-6  mb-3">
              <label for="validationServer02">Last name</label>
              <input type="text" class="form-control" name="lastname" id="validationServer02" placeholder="Last name" required>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <label for="inputEmail3">Username</label>
              <input type="username" class="form-control" name="username" id="inputEmail3" required>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <label for="inputPassword6">Password</label>
              <input type="password" id="inputPassword6" name="password" class="form-control" aria-describedby="passwordHelpInline"
                required>
            </div>
          </div>
          <div class="form-row mb-3">
            <div class="col-md-6">
              <label for="branch">Branch</label>
              <select class="custom-select" name="branch" id="branch" required>
                <option selected disabled value="">Branch</option>
                <option>مدينة نصر</option>
                <option>مصر الجديدة</option>
                <option>المعادي</option>
                <option>المقطم</option>
                <option>اكتوبر</option>
                <option>المهندسين</option>
                <option>حلوان</option>
                <option>فيصل</option>
                <option>اسكندرية</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="validationServer04">Position</label>
              <select class="custom-select" name="position" id="validationServer04" required>
                <option selected disabled value="">Position</option>
                <option>Head</option>
                <option>ٍSub-Head</option>
                <option>Volunteer</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <%- include('./partials/footer.ejs') %>
