.left-section {
  position: sticky;
  top: 6rem;
}

.right-section {
  position: sticky;
  top: 6rem;
}
.card {
  margin-bottom: 20px;
}

button {
  border: none;
}
body{
  text-align: right;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
