.left-section {
  position: fixed;
  top: 6rem;
}
@media only screen and (max-width: 600px) {
  .left-section{
    position: sticky;
    top: 6rem;
  }
}
.right-section {
  position: sticky;
  top: 6rem;
}
.card {
  margin-bottom: 20px;
}
.pending .card .card-header {
  background-color: #ffd23d;
}
.done .card .card-header {
  background-color: #34eb43;
}