<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>

<!-- Form -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mt-5 offset-md-3">
            <form action="/tasks/addtask" method="POST">
                <div class="form-group">
                    <label for="task">Task Name</label>
                    <input type="text" class="form-control" id="task" name="taskname" placeholder="Example:  الاستمارات">
                </div>
                <div class="form-group">
                    <label for="branch">Branch</label>
                    <select multiple class="form-control" id="branch">
                        <option>Nasr City</option>
                        <option>New Cairo</option>
                        <option>El mohandseen</option>
                        <option>El mokatam</option>
                        <option>El m3ady</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="task-description">Task Description</label>
                    <textarea class="form-control" id="task-description" rows="3"></textarea>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End of form -->


<%- include('../partials/footer.ejs') %>