<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>

<div class="container-fluid mt-5">
  <div class="row">
    <!-- Left Section -->
    <div class="col-md-3 mt-5">
      <%- include('../partials/left-nav.ejs') %>
    </div>
    <!-- End of the left section-->
    <!-- Right Section -->
    <div class="col-md-9 my-5">
      <div class="row"> 
        <div class="container pending text-center col-md-6 mb-2">
          <button class="btn white-text btn-warning btn-block shadow" type="button" data-toggle="collapse"
            data-target="#pending" aria-expanded="false" aria-controls="pending">
            <h3>Pending</h3>
          </button>
          <div class="collapse show" id="pending">
          </div>
        </div>
        <div class="container done text-center col-md-6">
          <button class="btn btn-success btn-block shadow" type="button" data-toggle="collapse" data-target="#done"
            aria-expanded="false" aria-controls="done">
            <h3>Done</h3>
          </button>
          <div class="collapse show" id="done">
          </div>
        </div>
      </div>
    </div>
    <!-- End of the right section -->
  </div>
</div>

<script src="/givenTasks.js"></script>
<%- include('../partials/footer.ejs') %>