<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>FOP</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="../style.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">FOP</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <div class="dropdown">
              <a class="nav-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="fa fa-bell"></i> <span class="badge badge-primary">3</span>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">There is a new Event</a>
                <a class="dropdown-item" href="#">Hamdy added a new task</a>
                <a class="dropdown-item" href="#">There is a new Event</a>
                <a class="dropdown-item" href="#">There is a new Event</a>
              </div>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <!-- <li class="nav-item">
                        <a class="nav-link" href="login.html">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="signup.html">Sign up</a>
                    </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/addTask">Add task</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true" >Profile</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container-fluid mt-5">
    <div class="row">
      <!-- Left Section -->
      <div class="col-md-3">
        <div class="left-section mt-5">
          <div class="card shadow">
            <h5 class="card-title mx-auto mt-3">Hamdy Youssef</h5>
            <img class="card-img-top mx-auto rounded-circle" style="width: 7rem; height: 7rem;"
              src="https://vignette.wikia.nocookie.net/fairlyoddparents/images/2/2c/New_Timmy_Stock.png/revision/latest/scale-to-width-down/340?cb=20200127001833&path-prefix=en"
              alt="Card image cap">
            <hr class="mx-auto" style="width:80%;">
            <div class="card-body">
              <p><i class="far fa-address-card mr-2"></i>Head of follow-up committee</p>
              <p><i class="fas fa-home mr-2"></i>Nasr City</p>
              <p><i class="fas fa-birthday-cake mr-2"></i> Dec 1, 1998</p>
            </div>
          </div>
          <div class="card left-nav shadow">
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action list-group-item-secondary active">
                <i class="fas fa-tasks mr-3 fa-lg"></i></i>Tasks</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-secondary disabled" /="-1" aria-disabled="true">
                  <i class="fas fa-tasks mr-3 fa-lg"></i></i>Given Tasks</a>
              <a href="#" class="list-group-item list-group-item-action list-group-item-secondary disabled" /="-1" aria-disabled="true">
                  <i class="far fa-calendar-check fa-lg mr-3"></i>Events
              </a>
              <a href="#" class="list-group-item list-group-item-action list-group-item-secondary disabled" /="-1" aria-disabled="true">
                  <i class="far fa-calendar-check fa-lg mr-3"></i>Plan
              </a>
              <a href="statistics.html"
                  class="list-group-item list-group-item-action list-group-item-secondary disabled" /="-1" aria-disabled="true">                <i class="fas fa-chart-bar fa-lg mr-3"></i>Statistics
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- End of the left section-->

      <!-- Right Section -->
      <div class="col-md-9 mt-5">
        <div class="row">
          <div class="container pending text-center col-md-6">
            <button class="btn btn-warning btn-block shadow" type="button" data-toggle="collapse"
            data-target="#pending" aria-expanded="false" aria-controls="pending">
              <h1>Pending</h1>
            </button>
            <div class="collapse show" id="pending">
            <div class="card shadow">
              <div class="card-header">
                Task
              </div>
              <div class="card-body">
                <h5 class="card-title">شيت المتابعة</h5>
                <p class="card-text">مطلوب رفع شيت المتابعة يوم 15</p>
                <a href="#" class="btn btn-success">Done</a>
              </div>
              <div class="card-footer">
                2 days ago
              </div>
            </div>
            <div class="card shadow">
              <div class="card-header">
                Task
              </div>
              <div class="card-body">
                <h5 class="card-title">شيت المتابعة</h5>
                <p class="card-text">مطلوب رفع شيت المتابعة يوم 1</p>
                <a href="#" class="btn btn-success">Done</a>
              </div>
              <div class="card-footer">
                2 days ago
              </div>
            </div>
          </div>
          </div>
          <div class="container done text-center col-md-6">
            <button class="btn btn-success btn-block shadow" type="button" data-toggle="collapse"
              data-target="#done" aria-expanded="false" aria-controls="done">
              <h1>Done</h1>
            </button>
            <div class="collapse show" id="done">
              <div class="card">
                <div class="card-header">
                  Task
                </div>
                <div class="card-body">
                  <h5 class="card-title">مشاركات</h5>
                  <p class="card-text">مطلوب من مدينة نصر يكمل 70 مشاركة خلال اسبوع</p>
                  <a href="#" class="btn btn-danger">Undone</a>
                </div>
                <div class="card-footer">
                  2 days ago
                </div>
              </div>
            </div>

          </div>


        </div>
      </div>
      <!-- End of the right section -->

    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" /="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Special title treatment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Varius morbi enim nunc faucibus a pellentesque sit. Cursus vitae congue mauris rhoncus aenean
          vel elit. Montes nascetur ridiculus mus mauris vitae ultricies. Porttitor lacus luctus accumsan tortor posuere
          ac ut consequat semper. Adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus. Pretium quam vulputate
          dignissim suspendisse in est. Neque volutpat ac tincidunt vitae semper quis. Nec nam aliquam sem et. Sociis
          natoque penatibus et magnis. Eget nunc scelerisque viverra mauris in aliquam sem. Nulla porttitor massa id
          neque aliquam vestibulum morbi blandit. Neque convallis a cras semper auctor neque vitae tempus quam. Ultrices
          eros in cursus turpis massa tincidunt dui ut ornare. Maecenas sed enim ut sem.

          Cursus mattis molestie a iaculis at. Vitae et leo duis ut diam quam nulla porttitor massa. Aliquet enim tortor
          at auctor urna. Pulvinar neque laoreet suspendisse interdum consectetur libero id. Ipsum dolor sit amet
          consectetur adipiscing elit. Turpis tincidunt id aliquet risus. Placerat duis ultricies lacus sed turpis
          tincidunt. Dolor sed viverra ipsum nunc aliquet bibendum. Quam viverra orci sagittis eu volutpat. Ornare arcu
          odio ut sem nulla pharetra diam. Dui vivamus arcu felis bibendum ut tristique et egestas quis. Amet tellus
          cras adipiscing enim eu turpis egestas pretium. Urna et pharetra pharetra massa massa ultricies mi. Magna eget
          est lorem ipsum. Nunc lobortis mattis aliquam faucibus purus in massa tempor.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/dc47a1c277.js" crossorigin="anonymous"></script>

</body>

</html>